---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
import AboutMe from '@/components/AboutMe'
import { siteConfig } from '@/data/site.config'
import ListCategories from '@/components/ListCategories'
import ListPosts from '@/components/ListPosts'
import { getPosts } from '@/utils'
---

<BaseLayout title='Sobre mí'>
	<TitlePage title='Sobre mí' />
	<div class='flex justify-center flex-wrap gap-4'>
		<AboutMe />
	</div>
</BaseLayout>
