---

---

<section class='mx-auto max-w-2xl prose py-8 px-4'>
	<h1 class='text-center font-bold mb-6'>¿Quién es Auri?</h1>
	<p>
		¡Hola! Soy <strong>Auristela</strong>, programadora de Chubut, Argentina. Me enamoré de la
		tecnología cuando, con 16 años, empecé a experimentar con HTML y CSS. Al principio me daba miedo
		JavaScript, pensé que “no era lo suficientemente inteligente”.
	</p>
	<p>
		Con el tiempo, dejé una carrera que no me convencía y me lancé a aprender por mi cuenta. Más
		adelante, participé de un curso de <a
			href='https://mediapila.org.ar/'
			target='_blank'
			rel='noopener'
			class='underline font-semibold'>MediaPila</a
		>, una ONG para mujeres: ahí perdí el miedo y me enamoré del <em>JavaScript</em>. Mi primer
		orgullo fue ver mis propias páginas y aplicaciones en funcionamiento.
	</p>
	<p>
		He trabajado en proyectos colaborativos usando Node.js, Express, MongoDB y más. Me caracterizo
		por ser empática, rápida para aprender y muy receptiva al feedback. Mi mayor motivación es mi
		futuro: quiero avanzar hasta ser tech lead y, algún día, fundar una ONG en mi provincia para
		acercar a otras mujeres sin recursos al mundo IT, tal como lo hicieron conmigo.
	</p>
	<p>
		Además, fuera del código me encanta pasar el rato con mis mascotas, aprender a coser y compartir
		recetas saludables.
		<br />
		<span class='italic'>¡Bienvenida a este espacio donde combino tecnología, vida y pasión!</span>
	</p>
</section>
